<h1>{{ heroe.nombre | uppercase }} <small>({{ heroe.aparicion | date:'y' }})</small></h1>
<hr>

<div class="row">
	<div class="col-md-4">
		<div class="card">
  			<img class="card-img-top" src="{{ heroe.img }}" alt="Card image cap">
  		</div>
  		<a [routerLink]="['/heroes']" class="btn btn-outline-primary btn-block">Regresar</a>
	</div>
	
	<div class="col-md-8">
		<h3> {{ heroe.nombre }}</h3>
		<hr>
		<p>{{ heroe.bio }}</p>
		
		 <div *ngIf="heroe.casa=='DC'" >
			<img class="img-logo" src="assets/img/DC.png" >
		</div>
		<div *ngIf="heroe.casa=='Marvel'" >
			<img class="img-logo" src="assets/img/Marvel.png">
		</div>
	</div>
</div>